body {
  font-family: 'Poppins', sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 10px;
}

/* Tabel utama */
table {
  border-collapse: collapse;
   width: max-content;
  min-width: 100%;
  margin-bottom: 40px;
  overflow-x: auto;
  display: block;
}

/* Sel header dan data */
th,
td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
  word-break: break-word;
}

/* Header tabel */
th {
  background: #eee;
}

/* Tombol */
a.button {
  background: #3498db;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
  margin-top: 5px;
}

a.button-logout {
  background: #db3434;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
  margin-top: 5px;
}

a.button.delete {
  background: #e74c3c;
}

/* Form inline */
form.inline {
  display: inline;
}

/* Input dasar */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 4px;
}

/* Untuk kolom input di tabel */
td input[type="text"],
td input[type="email"],
td input[type="number"],
td input[type="password"],
td textarea,
td select {
  width: 120px;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  table {
    overflow-x: auto;
  }
  
}
